body {
    background-color:palegoldenrod;
}

.panel {
    width: 600px;
}

.auto {
    width: 600px;
}
.content {
    width: 600px;
}
.fill {
    width: 600px;
}

h1 {
    border-left: 10px solid blue;
    border-bottom: 1px solid blue;
    padding-left:10px;
    width: 50%;
}
h2 {
    border-left: 10px solid red;
    border-bottom: 1px solid red;
    padding-left:10px;
    width: 50%;
}
h3 {
    border-left: 10px solid blue;
    padding-left:10px;
    width: 50%;
}

hr {
    color: whitesmoke;
}
div.timer {
    font-size: 40px;
    font-weight: bold;
}
